.video-container {
    height: 80vh;
    border-radius: 20px;
    background-color: white;
    overflow: scroll;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
}

.video-container::-webkit-scrollbar {
    display: none;
}

.videos {
    position: relative;
}

.fa {
    position: absolute;
    bottom: 2.5%;
    left: 10%;
    /* background-color: white; */
    justify-content: space-around;
}

.fa h4 {
    color: white;
    margin-top: 10%;
    margin-left: 5%;
    /* background-color: black; */
}

.icon-styling {
    position: absolute;
    bottom: 5%;
    right: 6%;
    font-size: 1.7rem;
}

.like {
    color: #f1c40f;
    cursor: pointer;
}

.unlike {
    color: white;
    cursor: pointer;
}

.unlike2 {
    color: gray;
    cursor: pointer;
}

.comment-icon {
    position: absolute;
    bottom: 11%;
    right: 6%;
    color: white;
}

.modal-container {
    display: flex;
    height: 100%;
    width: 100%;
    /* background-color: yellow; */
}

.video-modal {
    height: 100%;
    width: 50%;
    /* padding:1rem; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: pink; */
}

.video-modal video{
    height:90vh;
}

.comment-modal {
    height: 100;
    width: 50;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-evenly;
    /* background-color: black; */
}

.card1 {
    height: 68vh;
    width: 25vw;
    border: .2px solid gray;

    /* background-color: gray; */
    overflow: scroll;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
}

.card1::-webkit-scrollbar {
    display: none;
}

.card2 {
    height: 13vh;
    width: 25vw;
    border: .2px solid gray;
}